@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
ul{
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}
.header > h1{
    font-size: 24px;
    color: #f9faf8;
}
.header > ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

/* FIRST */

.first{
    background-color: #1f2937;
    background-size: 100% 100%;
}
.intro{
    display: flex;
    padding: 70px 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.awesome{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
}
.left{
    font-size: 18px;
    margin: 0px 20px;
    padding: 0px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.hero-img {
    width: 600px;
    height: 300px;
}
.left >button{
    background-color: #3882f6;
    font-size: 15px;
    color: #e5e7eb;
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
}

/* SECOND */

.info{
    margin: 50px;
}
.info-title{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.card-img{
    width: 150px;
    height: 150px;
    border: 3px solid blue;
    border-radius: 15px;
}
.card-cont{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 150px;
}

/* THIRD */

.quote{
    background-color: #e5e7eb;
    padding: 75px 200px;
}
.text{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}
.thor{
    align-items: flex-end;
    font-size: 20px;
    font-weight: 900;
    padding: 0px;
    margin: 10px 0px;
    display: block;
    text-align: right;
}

/* FOURTH */
.signup{
    padding: 75px 200px;
    color: #e5e7eb;
}
.menu{
    background-color: #3882f6;
    padding: 40px 200px;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu > button{
    background-color: #3882f6;
    font-size: 15px;
    color: #e5e7eb;
    padding: 7px 25px;
    border-radius: 5px;
    border: 2px solid #e5e7eb;
}
/* FIFTH */
.footer{
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
    color: #e5e7eb;
}